<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/editor.css' />
</head>
<body>


    <div class="navbar">
        <ul class="main-menu">
            <li>CONTENT</li>
            <li>NEW POST</li>
            <li>SETTINGS</li>
        </ul>
    </div>


    <form method="post">
        <input type="hidden" name="_id" value="<% if (post._id) { %> <%= post._id %> <% } %>">
        <input type="text" name="title" placeholder="title" value="<% if (post.title) { %> <%= post.title %> <% } %>"><br>

        <input type="text" name="slug" placeholder="static url" value="<% if (post.slug) { %> <%= post.slug %> <% } %>"><br>

        <textarea rows="10" cols="100" name="content">
            <% if (post.markdown) { %> <%= post.markdown %> <% } %>
        </textarea><br>

        <input type="submit" value="publish now">

        <% if (success) { %>
            <div><%= success %></div>
        <% } %>
        <% if (error) { %>
            <div><%= error %> </div>
        <% } %>
    </form>

</body>
</html>
