<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body>
<h1><%= title %></h1>
<% posts.forEach(function (post, index) { %>
<p class="info">
    作者：<%= post.author.name %>
    日期：<%= post.published_at %>
</p>
<p><%- post.content %></p>
<% }) %>
</body>
</html>
